$icons: (
	  sprite: (width: 2163px, height: 2208px, pngPath: '../html/assets/img/sprite.png', svgPath: '../html/assets/img/sprite.svg'),
 	925sign: (width: 120px, height: 120px, backgroundX: 0px, backgroundY: 0px),
 	facebook: (width: 112.2px, height: 112.2px, backgroundX: -130px, backgroundY: -130px),
 	googleplus: (width: 112.2px, height: 112.2px, backgroundX: -253px, backgroundY: -253px),
 	instagram: (width: 112.2px, height: 112.2px, backgroundX: -376px, backgroundY: -376px),
 	john: (width: 588.2px, height: 588.2px, backgroundX: -499px, backgroundY: -499px),
 	linkedin: (width: 112.2px, height: 112.2px, backgroundX: -1098px, backgroundY: -1098px),
 	logosnow: (width: 96.8px, height: 101px, backgroundX: -1221px, backgroundY: -1221px),
 	pinterest: (width: 112.2px, height: 112.2px, backgroundX: -1328px, backgroundY: -1332px),
 	sirene: (width: 413.85px, height: 464.37px, backgroundX: -1451px, backgroundY: -1455px),
 	soundcloud: (width: 112.2px, height: 112.2px, backgroundX: -1875px, backgroundY: -1930px),
 	twitter: (width: 112.2px, height: 112.2px, backgroundX: -1998px, backgroundY: -2053px),
 	twitterHover: (width: 32px, height: 22px, backgroundX: -2121px, backgroundY: -2176px),
);
